.main-row {
    background-color: beige;
    height: 500px;
    width: 80%;
    position: relative;
    left: 10%;
}

.responsive-iframe {
    position: relative;
    width: 98%;
    height: 94%;
    left: 1%;
    top: 3%;
}
